# text editor config
/.vs
/.vscode
/.idea
/.idea/*

# video
/s_video.zip
/video
/video/*
*.mp4

# pic
*.png
*.jpg
*.jpeg

# pyc
*.pyc
__pycache__

# third party
/A25/third_party
/A25/third_party/*

# test
/tt.py

# deyolo
/ultralytics

# model
*.pt
*.pth
*.tar
*.pkl

# tmp dir
/tmp
/tmp/*

# ultralytics
/A25/yolo_ultralytics

# datasets
/datasets